<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="NexPWA\SalesGraphQl\Helper\Resolver\Order">
        <plugin name="payment_method_fee" type="Codilar\PaymentMethodFee\Plugin\Helper\Resolver\Order" />
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="payment_method_fee" type="Codilar\PaymentMethodFee\Plugin\Model\OrderRepository" />
    </type>
</config>
