<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
     <default>
        <web>
           <whatsapp_chat>
                 <is_enabled>0</is_enabled>
                 <default_link>https://wa.me/message/SVSJF2DWINCVM1</default_link>
           </whatsapp_chat>
        </web>
    </default>
</config>