<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageplaza_shopbybrand_brand_save_after">
        <observer name="clean_varnish_cache" instance="Codilar\Brand\Observer\MageplazaShopbybrandBrandSaveAfter"/>
    </event>
</config>
